checkpoint/*
.empty
.vscode/
__pycache__/
dmt_dv.png
dmt/__pycache__/*
dmt/aug/__pycache__/*
dmt/dataloader/__pycache__/*
dmt/loss/__pycache__/*
dmt/manifolds/__pycache__/*
dmt/model/__pycache__/*
/data/
/dist/
/build/
