lightning_logs/
__pycache__/
wandb/*
save_near_index/
baseline/
Embedding/*
save_html/*
save_checkpoint/*
save_checkpoint_use/*
tensorflow/*
data/
.vscode/
build/
dist/
/*.py
requirements.txt
run_sweep.sh
main.sh